
@model DimensionWebApp.Models.Cmpg323Project2Dataset3
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Employee.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3>Add New Employee</h3>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <a href="/Cmpg323Project2Dataset3/Index" class="btn btn-primary">Show All Employees</a>
    </div>

</div>
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-2">
        EmpAge

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.Age, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Age)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpGender

    </div>
    <div class="col-md-4">
        @*ViewBag.Gender*@
        @Html.DropDownListFor(a => a.Gender, ViewBag.Gender as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Gender)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpMaritalStatus

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.MaritalStatus, ViewBag.MaritalStaus as SelectList, new { @class = "form-control"})

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.MaritalStatus)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpDepartment

    </div>
    <div class="col-md-4">
        
        @Html.DropDownListFor(a => a.Department, ViewBag.Department as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Department)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpJobRole

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.JobRole, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.JobRole)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpEducation

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.Education, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Education)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpEducationField

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.EducationField, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.EducationField)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpAttrition

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.Attrition, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Attrition)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpBusinessTravel

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.BusinessTravel, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.BusinessTravel)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpDistance

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.DistanceFromHome, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.DistanceFromHome)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpCount

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.EmployeeCount, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.EmployeeCount)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpEnvSatisfaction

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.EnvironmentSatisfaction, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.EnvironmentSatisfaction)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpJobInvolvement

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.JobInvolvement, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.JobInvolvement)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpJobLevel

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.JobLevel, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.JobLevel)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpJobSatisfaction

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.JobSatisfaction, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.JobSatisfaction)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpHourlyRate

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.HourlyRate, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.HourlyRate)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpMonthlyRate

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.MonthlyRate, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.MonthlyRate)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpMonthlyIncome

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.MonthlyIncome, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.MonthlyIncome)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpOver18

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.Over18, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.Over18)
        </span>

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        EmpOverTime

    </div>
    <div class="col-md-4">
        @Html.DropDownListFor(a => a.OverTime, ViewBag.MaritalStaus as SelectList, new { @class = "form-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.OverTime)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpPercentSalaryHike

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.PercentSalaryHike, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.PercentSalaryHike)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpPerformanceRating

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.PerformanceRating, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.PerformanceRating)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpRelationshipSatisfaction

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.RelationshipSatisfaction, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.RelationshipSatisfaction)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpStandardHours

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.StandardHours, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.StandardHours)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmStockOptionLevel

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.StockOptionLevel, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.StockOptionLevel)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpTotalWorkingYears

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.TotalWorkingYears, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.TotalWorkingYears)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpTrainingTimesLastYear

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.TrainingTimesLastYear, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.TrainingTimesLastYear)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpWorkLifeBalance

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.WorkLifeBalance, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.WorkLifeBalance)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpYearsAtCompany

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.YearsAtCompany, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.YearsAtCompany)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpYearsInCurrentRole

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.YearsInCurrentRole, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.YearsInCurrentRole)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpYearsSinceLastPromotion
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.YearsSinceLastPromotion, new { @class = "forms-control" })

    </div>
    <div class="col-md-2">
        <span class="text-danger">
            @Html.ValidationMessageFor(a => a.YearsSinceLastPromotion)
        </span>

    </div>

</div>

<div class="row">
    <div class="col-md-2">
        EmpYearsWithCurrManager

    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(a => a.YearsWithCurrManager, new { @class = "forms-control" })

    </div>
   
   
</div>

<div class="row">
    <div class="col-md-12">
       <input type="submit" class="btn btn-info" value="Save" />
    </div>
   

</div>

}

